<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shellow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Shellow.Properties.Settings>
            <setting name="privateKeyName" serializeAs="String">
                <value>private.pem</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="fingerPrint" serializeAs="String">
                <value />
            </setting>
            <setting name="destination" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="remoteDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="privateKeyDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ignoreList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.</string>
                        <string>..</string>
                        <string>.gitkeep</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Shellow.Properties.Settings>
    </userSettings>
</configuration>
